* {
   padding: 0px;
   margin: 0px;
}

body {
   background-color: rgb(182, 227, 217);
}

.board {
   margin: 10px auto 5px;
   border: 1px solid black;
   border-radius: 20px;
   width: 1000px;
   height: 600px;
   background-color: rgb(167, 195, 228);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   display: flex;
   flex-direction: column;
   gap: 17px;
   align-items: center;
}

.title {
   font-size: 40px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 600px;
   margin: 8px auto 0px;
   text-shadow: 1px 1px 3px black;
}

.bottombar {
   display: flex;
   justify-content: center;
   gap: 70px;
}

.container {
   width: 500px;
   height: 500px;
   padding: 10px;
   border: 1px solid black;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
   border-radius: 10px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   align-items: center;
}

.controls {
   width: 300px;
   height: 500px;
   display: flex;
   font-family: 'Courier New', Courier, monospace;
   flex-direction: column;
   justify-content: flex-start;
}

.instructions {
   font-size: 18px;
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
}

.slider {
   display: flex;
   margin-top: 20px;
   font-size: 18px;
   gap: 20px;
}

.slider input {
   margin-top: 1px;
   width: 150px;
   background: green;
   cursor: pointer;
}

.color-choice {
   display: flex;
   margin-top: 30px;
}

.color-choice p {
   font-size: 18px;
   margin-right: 20px;
}

.color-choice button {
   width: 30px;
   height: 20px;
   margin: 0px 4px;
   border-style: none;
   border-radius: 4px;
   cursor: pointer;
}

button.red {
   background-color: rgba(223, 68, 68);
}

button.green {
   background-color: rgba(137, 224, 137);
}

button.blue {
   background-color: rgba(81, 81, 238);
}

button.yellow {
   background-color: rgba(229, 229, 110);
}

button.black {
   background-color: rgba(43, 40, 40);
}

button.red:hover {
   background-color: rgb(225, 4, 4);
   transition: 500ms;
}

button.green:hover {
   background-color: rgb(4, 232, 4);
   transition: 500ms;
}

button.blue:hover {
   background-color: rgb(6, 6, 237);
   transition: 500ms;
}

button.yellow:hover {
   background-color: rgb(247, 247, 5);
   transition: 500ms;
}

button.black:hover {
   background-color: rgb(9, 0, 0);
   transition: 500ms;
}

.eraser_reset {
   margin-top: 30px;
   align-self: center;
}

.eraser_reset button {
   background-color: rgb(177, 85, 177);
   border-style: none;
   border-radius: 4px;
   margin: 10px;
   padding: 5px;
   font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
   width: 70px;
   height: 30px;
   cursor: pointer;
}

.eraser_reset button:hover {
   background-color: rgb(176, 5, 176);
   transition: 500ms;
}

.eraser_reset button:active {
   background-color: rgb(225, 170, 225);
   transition: 500ms;
}
